

.right {
    float:right;
}

.left {
    float:left;
}

#statistics, #comparison {
    height: 100vh;
    border-bottom: #333333 2px solid;
    box-sizing: border-box;
}

#topNav {
    visibility: hidden;
}


/* Header style */
header {
    height: calc(100vh - 44px);
    background: url("../res/img/eu.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*  Navigation bar style */
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}