.right {
    float:right;
}

.left {
    float:left;
}

#topNav {
    visibility: hidden;
}


/***
  * Page wide style
 ***/
html, body{
    font-family: Corbel, Arial, sans-serif;
    background: url("../res/img/sarahg_CanadianCulturalDiversity.jpg") no-repeat center center fixed;
    background-size: cover;
}


/***
  * Article style
 ***/
article {
    margin: 50px 0;
}

article h2 {
    line-height: normal;
    margin: auto;
    padding: 20px;
    display: block;
    width: 50vw;
    min-width: 200px;
    max-width: 980px;
    background: rgba(255, 205, 0, 0.8);
    text-align: center;
}


/***
  * Section style
 ***/
section {
    width: 50vw;
    min-width: 200px;
    max-width: 980px;

    background: rgba(255, 255, 255, 0.9);

    margin: auto;
    padding: 50px 20px;

    box-sizing: border-box;
}

#filters h4 {
    margin: 10px 5px;
}
#filters form > div {
    border:3px solid #00309A;
    margin-bottom: 10px;
    padding: 5px;
}
#filters label {
    display: inline-block;
    margin: 5px;
    padding:10px;
    border: #00309A 1px dashed;
    transition: 1s;
}
#filters label:hover {
    background: #FFCD00;
    cursor: pointer;
    border: #00309A 1px solid;
    transition: 0.1s;
}

#filters label:active {
    background: #002067;
    color: #fff;
    border: #FFCD00 1px solid;
}

#filters input {
    margin-right: 5px;
}

#filters .active {
    background: #00309A;
    color: #fff;
    border: #FFCD00 1px solid;
}

/***
  * Header style
 ***/
header {
    padding-top: 40vh;
    height: calc(100vh - 44px - 40vh);
    line-height: calc(100vh - 44px - 40vh);
    text-align: center;
    background: url("../res/img/lukebrookes_multiculturalcities.jpg") no-repeat center center fixed;
    background-size: cover;
}

header h1{
    line-height: normal;
    margin: auto;
    padding: 20px;
    display: block;
    width: 50vw;
    min-width: 200px;
    max-width: 980px;
    background: rgba(255, 255, 255, 0.8);
}

/***
  * Navigation bar style
 ***/
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

nav li a:hover:not(.active) {
    background-color: #00309A;
    color: #FFCD00;
}

nav .active {
    background-color: #FFCD00;
    color: #111111;
    transition: 0.1s;
}

/***
  * Footer style
 ***/
footer {
    text-align: center;
    background-color: #111111;
    padding: 50px;
}

footer a, footer a:visited {
    text-decoration: none;
    color: #FFCD00;
}

footer a:hover, footer a:active {
    text-decoration: underline;
}

/* Graph styles */

.bar-graph {
    width:100%;
    height:400px;
    position: relative;
}